body {
  margin: 0%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: rgb(33, 32, 32);
}

div.navbar {
  overflow: hidden;
  background-color: rgb(23, 23, 23);
}
div.navbar-content {
  display: block;
  float: left;
}
div.navbar-content-box {
  display: none;
  min-width: 160px;
  position: absolute;
  background-color: rgb(255, 255, 255);
  z-index: 1;
}
button.button-content {
  min-width: 160px;
  padding: 12px 16px;
  font-size: 17px;
  background-color: rgb(23, 23, 23);
  color: rgb(255, 255, 255);
  outline: none;
  border: none;
  margin-top: 1px;
}
div.navbar-content-box a {
  background-color: rgb(78, 71, 71);
  color: rgb(0, 0, 0);
  display: block;
  padding: 16px 20px;
  box-shadow: 0px 12px 16px 0 gray;
  text-decoration: none;
  font-size: 16px;
  outline: none;
  border: none;
}
/* div.navbar-content:hover .navbar-content-box
 {
    display: block;
 } */
div.navbar-content:hover .button-content {
  background-color: rgb(173, 173, 173);
}
#button-style-01 {
  min-width: 100px;
}

#float-right-content {
  float: right;
  margin-right: 1px;
  opacity: 0.8;
}
#button-0101:hover {
  opacity: 0.9;
}
#float-right-content:hover {
  opacity: 0.9;
}

div.navbar-content-box a:hover {
  background-color: rgb(219, 221, 221);
  border: 1px dotted gray;
}
/* This is Image Logo  */
#image-logo-01 {
  width: 100%;
  display: block;
  height: 300px;
  position: relative;
}
/* This is body content of main web site */
div.body-main {
  height: 1000px;
}
div.body-main {
  margin: 0%;
  padding: 0%;
  width: 100%;
  padding-top: 1px;
  background-color: rgb(234, 234, 234);
  overflow: hidden;
  position: relative;
  height: 100%;
  float: left;
}
div.navbar::after {
  clear: both;
}
@media screen and (max-width: 694px) {
  #float-right-content {
    display: none;
  }
}
#float-right-content-01 {
  float: right;
}
@media screen and (max-width: 1600px) {
  #float-right-content-01 {
    display: none;
  }
}
@media screen and (max-width: 410px) {
  #float-right-content-01 {
    display: block;
  }
  #image-logo-01 {
    width: 100%;
    height: 100px;
  }
}
@media screen and (max-width: 700px) {
  #float-right-content-01 {
    display: none;
  }
  #float-right-content-01 {
    display: block;
  }
}

#aside-content-01 {
  overflow-y: scroll;
}
/* This is main content style  */
aside.information-01 {
  height: 100%;
  width: 17.8%;
  float: left;
}
div.content-of-body {
  height: 100%;
  width: 64%;
  float: left;
}
aside.information-02 {
  background-color: rgb(33, 32, 32);
  height: 600px;
  width: 18%;
  float: left;
}

aside.information-01 {
  overflow: hidden;
  background-color: rgb(33, 32, 32);
}

div.content-box-02 {
  display: block;
  float: left;
}
button.button-content-02 {
  min-width: 270px;
  padding: 12px 16px;
  font-size: 15.5px;
  background-color: rgb(33, 32, 32);
  color: rgb(255, 255, 255);
  outline: none;
  border: none;
  margin-top: 1px;
  text-align: left;
}
button.button-content-02 a {
  text-decoration: none;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
button.button-content-02:hover {
  background-color: rgb(23, 21, 21);
  border-bottom: 1px solid white;
}
div.dataContent-02 {
  display: none;
  min-width: 200px;
  position: relative;
  background-color: rgb(255, 255, 255);
  z-index: 1;
}
div.dataContent-02 a {
  background-color: rgb(78, 71, 71);
  color: rgb(255, 255, 255);
  display: block;
  padding: 10px 20px;
  box-shadow: 0px 12px 16px 0 rgb(17, 17, 17);
  text-decoration: none;
  font-size: 14px;
  outline: none;
  border: none;
  overflow: auto;
}
/* div.content-box-02:hover .dataContent-02
{
  display: block;
} */
div.dataContent-02 a:hover {
  border: 1px solid gray;
}
/* This is Scroll bar  Style */
/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
@media screen and (max-width: 1000px) {
  #image-logo-01 {
    width: 100%;
    height: 200px;
  }
}
@media screen and (max-width: 1300px) {
  #image-logo-01 {
    width: 100%;
    height: 250px;
  }
}
@media screen and (max-width: 800px) {
  #image-logo-01 {
    width: 100%;
    height: 200px;
  }
}
@media screen and (max-width: 410px) {
  #image-logo-01 {
    width: 100%;
    height: 100px;
  }
}
div.body-main {
  background-color: rgb(33, 32, 32);
}
div.content-of-body {
  background-color: rgb(33, 32, 32);
}
aside.information-01 {
  border-bottom: 2px solid gray;
  border-top: 2px solid gray;
  /* border-left: 2px solid gray; */
}
div.explor-more-aside h3 {
  color: rgb(0, 0, 0);
  background-color: rgb(36, 57, 88);
  padding: 15px 24px;
  font-size: 17px;
  border-radius: 20px 20px 0px 0px;
  margin-bottom: 10px;
}
div.explor-more-aside {
  width: 250px;
  margin-top: 30px;
}
div.explor-more-aside ul li a {
  text-decoration: none;
  color: rgb(247, 242, 242);
  font-size: 14px;
}
div.explor-more-aside ul {
  color: white;
  margin-left: 0px;
  background-color: rgb(60, 55, 55);
  margin-top: -18px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 0px 0px 20px 20px;
}
div.explor-more-aside ul li {
  text-align: left;
}
div.explor-more-aside ul li a:hover {
  color: green;
  font-size: 15px;
}
div.explor-more-aside ul li:hover {
  color: green;
  font-size: 18px;
}
div.explor-more-aside ul li {
  padding: 5px;
  padding-left: 20px;
}

div.MainContentOfBody {
  margin-left: 40px;
  margin-top: 50px;
  width: 850px;
  /* background-color: red; */
}
div.firstInfo-content h1 {
  color: rgb(249, 255, 255);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 30px;
}
div.firstInfo-content address p {
  color: rgb(249, 255, 255);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 14px;
  text-align: left;
}

div.barAnchor-01 {
  background-color: rgb(101, 97, 97);
  padding: 12px 16px;
  width: 818px;
}
div.barAnchor-01 a {
  padding: 12px 12px;
  text-align: left;
  text-decoration: none;
  color: white;
}

div.Content-04 p {
  color: white;
  font-size: 16px;
  word-spacing: 3px;
  line-height: 27px;
}
div.image-03-of-body img {
  width: 100%;
  padding-top: 12px;
}

div.content-002 p {
  color: white;
  font-size: 16px;
  word-spacing: 3px;
  line-height: 27px;
}
div.main-content-of-body-01 {
  padding: 12px 16px;
  width: 818px;
  text-align: center;
}
div.main-content-of-body-01 a {
  color: white;
  font-weight: bold;
}

div.content-of-body-001 img {
  width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
div.content-of-body-001 p {
  color: white;
  font-size: 16px;
  word-spacing: 3px;
  line-height: 27px;
}
div.content-of-body-001 ol li {
  color: white;
  font-size: 16px;
  word-spacing: 3px;
  line-height: 27px;
}
div.releted-articles h2 {
  color: white;
}
div.releted-articles ol li a {
  color: white;
  word-spacing: 3px;
  line-height: 27px;
  font-size: 16px;
  text-decoration: none;
}
div.releted-articles ol li a:hover {
  border-bottom: 1px solid green;
  color: green;
}
div.releted-articles ol li {
  border-bottom: 2px solid gray;
  line-height: 50px;
  padding-left: 20px;
}
button.button-next-01 {
  min-width: 100px;
  padding: 10px 16px;
  font-size: 17px;
  font-weight: bold;
  color: white;
  background-color: rgb(33, 32, 32);
  border: none;
  outline: none;
  float: right;
}

div.navigation-001 img {
  width: 80px;
  padding: 4px 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid white;
}
div.navigation-001 {
  background-color: black;
}
div.navigation-001 img:hover {
  border-bottom: 2px solid white;
  width: 81px;
}
#button-001-002 {
  min-width: 100px;
  background-color: rgb(23, 21, 21);
}
div.image-logo-001 {
  width: 100%;
}
div.image-logo-001 img {
  width: 60px;
  height: 70px;
  border-radius: 50%;
  border: 3px solid rgb(24, 135, 61);
  float: left;
}
div.image-logo-001 a {
  color: rgb(24, 135, 61);
  text-decoration: none;
  line-height: 27px;
}

div.media-content-box img {
  width: 100px;
  float: left;
}
footer.first-footer {
  background-color: rgb(14, 11, 11);
  float: left;
  width: 100%;
}
div.media-content-box p {
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 12px 12px;
}
div.media-content-box {
  width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#mail-of-feedback {
  color: white;
  padding-left: 10px;
  text-decoration: none;
  font-size: 14px;
}
#mail-of-feedback:hover {
  border-bottom: 2px solid rgb(24, 135, 61);
  color: rgb(24, 135, 61);
  font-size: 14.5px;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
body {
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1170px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
}
.footer {
  background-color: #141415;
  padding: 70px 0;
  float: left;
  width: 100%;
  border-top: 2px solid gray;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

/*responsive*/
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
  #aside-content-01 {
    width: 300px;
    position: absolute;
    height: 700px;
  }
}

@media (max-width: 1400px) {
  .information-01 {
    display: none;
  }
  .information-02 {
    display: none;
  }
  #aside-content-01 {
    width: 300px;
    position: absolute;
    height: 700px;
  }
}
/* This is main responsive */

@media (max-width: 900px) {
  button.button-content {
    min-width: 30px;
  }
  #float-right-content {
    display: none;
  }
  #float-right-content-01 {
    display: block;
  }
  div.barAnchor-01 {
    width: 70%;
  }
  div.Content-04 {
    width: 80%;
  }
  div.image-03-of-body {
    width: 80%;
  }
  div.content-002 {
    width: 80%;
  }
  div.content-of-body-001 img {
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  div.content-of-body-001 {
    width: 80%;
  }
  div.releted-articles {
    width: 80%;
  }
  #aside-content-01 {
    width: 300px;
    position: absolute;
    height: 700px;
  }
}

@media (max-width: 730px) {
  div.barAnchor-01 {
    width: 70%;
  }
  div.Content-04 {
    width: 70%;
  }
  div.image-03-of-body {
    width: 70%;
  }
  div.content-002 {
    width: 70%;
  }
  div.content-of-body-001 img {
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  div.content-of-body-001 {
    width: 70%;
  }
  div.releted-articles {
    width: 70%;
  }
  #aside-content-01 {
    width: 300px;
    position: absolute;
    height: 700px;
  }
}

@media (max-width: 636px) {
  div.barAnchor-01 {
    width: 60%;
  }
  div.Content-04 {
    width: 60%;
  }
  div.image-03-of-body {
    width: 60%;
  }
  div.content-002 {
    width: 60%;
  }
  div.content-of-body-001 img {
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  div.content-of-body-001 {
    width: 60%;
  }
  div.releted-articles {
    width: 60%;
  }
  #aside-content-01 {
    width: 300px;
    position: absolute;
    height: 700px;
  }
}

@media (max-width: 550px) {
  #bar-02 {
    display: none;
  }
  div.barAnchor-01 {
    width: 50%;
  }
  div.Content-04 {
    width: 50%;
  }
  div.image-03-of-body {
    width: 50%;
  }
  div.content-002 {
    width: 50%;
  }
  div.content-of-body-001 img {
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  div.content-of-body-001 {
    width: 50%;
  }
  div.releted-articles {
    width: 50%;
  }
  #aside-content-01 {
    width: 300px;
    position: absolute;
    height: 700px;
  }
}

@media (max-width: 467px) {
  #bar-02 {
    display: none;
  }
  #bar-03 {
    display: none;
  }
  div.barAnchor-01 {
    width: 40%;
  }
  div.Content-04 {
    width: 45%;
  }
  div.image-03-of-body {
    width: 45%;
  }
  div.content-002 {
    width: 45%;
  }
  div.content-of-body-001 img {
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  div.content-of-body-001 {
    width: 45%;
  }
  div.releted-articles {
    width: 45%;
  }
  #aside-content-01 {
    width: 300px;
    position: absolute;
    height: 700px;
  }
}

@media (max-width: 410px) {
  div.content-of-body-001 p {
    font-size: 12px;
    word-spacing: 2px;
  }
  div.content-of-body-001 ol li {
    font-size: 12px;
  }
  div.Content-04 p {
    font-size: 12px;
    word-spacing: 2px;
  }
  div.content-002 p {
    font-size: 12px;
    word-spacing: 2px;
  }
  div.MainContentOfBody {
    margin-left: 3%;
    margin-top: 10px;
  }
  #bar-02 {
    display: none;
  }
  #bar-03 {
    display: none;
  }
  div.barAnchor-01 {
    display: none;
  }
  div.Content-04 {
    width: 45.6%;
  }
  div.image-03-of-body {
    width: 45.6%;
  }
  div.content-002 {
    width: 45.6%;
  }
  div.content-of-body-001 img {
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  div.content-of-body-001 {
    width: 45.6%;
  }
  div.releted-articles {
    width: 45.6%;
  }
  div.main-content-of-body-01 a {
    margin-left: -450px;
  }
  #button-content-01 {
    display: none;
  }
  #button-001-002 {
    display: block;
  }
  button.button-content {
    display: block;
  }
  #aside-content-01 {
    width: 300px;
    position: absolute;
    height: 700px;
  }
}

@media (max-width: 410px) {
  #aside-content-01 {
    width: 300px;
    position: absolute;
    height: 700px;
  }
}
div.Content-04 {
  margin-top: 15px;
}
div.barAnchor-01 {
  margin-top: 15px;
}
button.button-0002 {
  min-width: 100px;
  min-height: 40px;
  padding: 12px 12px;
  margin-top: 10px;
  background-color: rgb(54, 152, 79);
  border: none;
  color: white;
  font-size: 15px;
  opacity: 0.8;
}
button.button-0002:hover {
  background-color: red;
  opacity: 0.9;
}
button.sample-button:hover {
  background-color: red;
  opacity: 0.9;
}
button.sample-button {
  min-width: 100px;
  min-height: 40px;
  padding: 12px 12px;
  margin-top: 10px;
  background-color: rgb(54, 152, 79);
  border: none;
  color: white;
  font-size: 15px;
  opacity: 0.8;
}
